<div class="container-fluide" style="background:#eee;">
<div style="border-top: 2px solid #eee;"></div>
<div class="row">
<div class="col-sm-12">
	<div class="col-sm-12" style="text-align:center;color:#fff;padding:25px;">
	  <span class="footer-social">
	    <i class="fa fa-facebook footer-social-icon" aria-hidden="true"></i>
	  </span>
	  <span  class="footer-social" style="background: #00ABE3;">
	    <i class="fa fa-twitter footer-social-icon" aria-hidden="true"></i>
	  </span>     
	  <span class="footer-social" style="background: #0094BC;">
	    <i class="fa fa-linkedin footer-social-icon" aria-hidden="true"></i>
	  </span>     
	  <span class="footer-social" style="background:#c94a80;">
	    <i class="fa fa-instagram footer-social-icon" aria-hidden="true"></i>
	  </span> 
	  <p style="font-size: 20px;color:#000;">Copyright@NDSoftware-2018</p>     
	</div>
</div>
</div>
</div>	


