<div class="container-fluide">
	<div class="row" style="margin-top:50px;">
		<div class="col-sm-12">
			<img src="https://images.pexels.com/photos/533405/pexels-photo-533405.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive">
		</div>
		<div class="col-sm-12">
			<div class="col-sm-6 address-about">
				<p class="title">NDSoftware</p>
				<p class="add-p">Address:#A-14,Ankur Building,</p>
				<p class="add-p">Near Wakola Police Station,Santacruz East,</p>
				<p class="add-p">Mumbai-400049</p>
			</div>
			<div class="col-sm-6 address-about"> 
				<p class="title">NDSoftware</p>
				<p class="add-p">Phone:+91 8796213205</p>
				<p class="add-p">Email:contact@ndsoftware.com,</p>
			</div>
		</div>		
	</div>
</div>