<div class="container-fluide">
	<div class="row product" style="margin-top:50px;">
		<div class="col-sm-12" style="text-align: center;margin: 10px;padding: 10px;">
			<div class="col-sm-6">
	      <img   alt="Angular Logo" src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive">
	        <h2 style="text-align:center;">DapperDon</h2>
		  </div>	
		  <div class="col-sm-6">
	      <img alt="Angular Logo" src="https://images.pexels.com/photos/54284/pexels-photo-54284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive">
	        <h2 style="text-align:center;color:#439798;">Talentnext</h2>
      </div>
			<div class="col-sm-6">
        <img   alt="Angular Logo" src="https://images.pexels.com/photos/216490/pexels-photo-216490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive">
        <h2 style="text-align:center;color:#af3433;">Talentnext</h2>  
      </div>	
			
      <div class="col-sm-6">
				<img  src="https://s3-ap-southeast-1.amazonaws.com/dapper-don/dapper-don-prod/dapper-homepage/homepage.png" class="img-responsive">
				<h2 style="text-align:center;">DapperDon</h2>
			</div>
				      
			</div>
		</div>
</div>
