<div class="container-fluide">
	<div class="row team" style="margin-top:20px;">
		<div class="col-sm-12">
			<div class="col-sm-12" style="margin:0px;padding:0px;">
				<img src="https://images.pexels.com/photos/951236/pexels-photo-951236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-responsive">
			</div>
			<div class="col-sm-12" style="margin: 20px;">
      <h2>Our Team</h2>
      <div class="col-sm-6">
        <div style="position:absolute;height:200px;background:#fff;"></div>
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#eb9f9f;">Ashley</h2>  
      </div>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color: #19171d;">Pasty</h2>
      </div>
    </div>
     <div class="col-sm-12" style="margin: 20px;">
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/735552/pexels-photo-735552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;"> 
        <h2 style="text-align:center;">Shirley</h2> 
      </div>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/235490/pexels-photo-235490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#d9a28e;">Rosie</h2>
      </div>
    </div>
		</div>
	</div>
</div>
<style type="text/css">
	.team .center{
	 margin: 0 auto;
}
</style>		