<div class="container-fluid">
  <div class="row"> 
    <div>
      <p class="home-title">
        Welcome In The  {{ title }}!
      </p>
      <img width="100%" height="auto" alt="Angular Logo" src="https://images.pexels.com/photos/1038670/pexels-photo-1038670.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    </div>
    <div class="col-sm-12" style="margin: 20px;">
      <h2>Our Team</h2>
      <div class="col-sm-6">
        <div style="position:absolute;height:200px;background:#fff;"></div>
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/1036623/pexels-photo-1036623.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#eb9f9f;">Ashley</h2>  
      </div>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/247322/pexels-photo-247322.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color: #19171d;">Pasty</h2>
      </div>
    </div>
     <div class="col-sm-12" style="margin: 20px;">
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/735552/pexels-photo-735552.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;"> 
        <h2 style="text-align:center;">Shirley</h2> 
      </div>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/235490/pexels-photo-235490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#d9a28e;">Rosie</h2>
      </div>
    </div>
    <div class="col-sm-12"  style="margin: 20px;">
      <h2>Our Work</h2>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/67112/pexels-photo-67112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;">DapperDon</h2>
      </div>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/54284/pexels-photo-54284.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#439798;">Talentnext</h2>
      </div>
    </div>
     <div class="col-sm-12" style="margin: 20px;">
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/216490/pexels-photo-216490.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#af3433;">Talentnext</h2>  
      </div>
      <div class="col-sm-6">
        <img width="100%"  alt="Angular Logo" src="https://images.pexels.com/photos/801816/pexels-photo-801816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" style="margin:0px;padding:0px;">
        <h2 style="text-align:center;color:#5d3f3a;">DapperDon</h2>
      </div>
    </div>
    <div class="col-sm-12" style="background:#eee;padding:50px;">
    <h2>Here are some links to help you start: </h2>
    <ul>
      <li>
        <h4><a target="_blank" rel="noopener" href="https://www.talentnext.com">Tour of Talents</a></h4>
      </li>
      <li>
        <h4><a target="_blank" rel="noopener" href="http://www.dapperdon.in">Tour of Dapperdon</a></h4>
      </li>
    </ul>
    </div> 
    <div class="col-sm-12" style="padding:50px;">
      <h2>Some Great Motivation From The World</h2>
      <ul>
        <li>
          <h4>“Success is going from failure to failure without losing enthusiasm.”( Winston Churchill)</h4>
        </li>
        <li>
          <h4>“Success is doing ordinary things extraordinarily well.”(Jim Rohn)</h4>
        </li>
        <li>
          <h4>“Success means having the courage, the determination, and the will to become the person you believe you were meant to be.”(George Sheehan)</h4>
        </li>
      </ul>
    </div> 
  </div>
</div>
